In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('data/ama.csv')

In [4]:
df

,imagelink,name,old_price,price,review
0,https://m.media-amazon.com/images/I/71pvhTrmZD...,"Acer Aspire 5 A515-56-32DK Slim Laptop - 15.6""...","$379.99,$379.99,$529.99,$529.99,$529.99,$529.9...","269,456,465,772,632,583,676,381,839,699,585,64...","3,341,38,861,Another way to buy, , ,191,1,207,..."

In [6]:
df.read().split('"')

AttributeError: 'DataFrame' object has no attribute 'read'