In [1]:
import matplotlib.pyplot as plt

In [1]:
import pandas as pd
import numpy as np

In [2]:
people = {
    'name' : ['richard', 'dahyun' , 'nayeon' , 'sana',''],
    'title' : ['singularity','kim', '' , 'minatozaki',''],
    'country' : ['united state' , 'south korea' , 'south korea', 'japan' ,''],
    'food' : ['meat' , 'milk,chocklet milk' , 'salmon sushi','spicy food',''],
    'email' : ['richard@email.com' , 'dahyun@email.com' , 'nayeon@email.com', 'sana@email.com',''] ,
    'height_in_feet' : ['5.7' , '5.3' , '5.4', '5.4' ,''],
    'age' : ['18' , '24' , '27' ,'24','']
}

In [3]:
df = pd.DataFrame(people)
df

,name,title,country,food,email,height_in_feet,age
0,richard,singularity,united state,meat,richard@email.com,5.7,18
1,dahyun,kim,south korea,"milk,chocklet milk",dahyun@email.com,5.3,24
2,nayeon,,south korea,salmon sushi,nayeon@email.com,5.4,27
3,sana,minatozaki,japan,spicy food,sana@email.com,5.4,24
4,,,,,,,

In [4]:
df.columns

Index(['name', 'title', 'country', 'food', 'email', 'height_in_feet', 'age'], dtype='object')

# Updating Columns

In [5]:
df.columns = ['First_name','Title_name','Country_live_in','Food_loved','Email','Height','Age']

In [6]:
df.columns

Index(['First_name', 'Title_name', 'Country_live_in', 'Food_loved', 'Email',
       'Height', 'Age'],
      dtype='object')

In [7]:
df

,First_name,Title_name,Country_live_in,Food_loved,Email,Height,Age
0,richard,singularity,united state,meat,richard@email.com,5.7,18
1,dahyun,kim,south korea,"milk,chocklet milk",dahyun@email.com,5.3,24
2,nayeon,,south korea,salmon sushi,nayeon@email.com,5.4,27
3,sana,minatozaki,japan,spicy food,sana@email.com,5.4,24
4,,,,,,,

# List Comprehintion 
mathod to upper case

In [8]:
df.columns = [x.upper() for x in df.columns]

In [9]:
df

,FIRST_NAME,TITLE_NAME,COUNTRY_LIVE_IN,FOOD_LOVED,EMAIL,HEIGHT,AGE
0,richard,singularity,united state,meat,richard@email.com,5.7,18
1,dahyun,kim,south korea,"milk,chocklet milk",dahyun@email.com,5.3,24
2,nayeon,,south korea,salmon sushi,nayeon@email.com,5.4,27
3,sana,minatozaki,japan,spicy food,sana@email.com,5.4,24
4,,,,,,,

# Add or Remove Undersocor

In [10]:
df.columns = df.columns.str.replace(' ','_')
df

,FIRST_NAME,TITLE_NAME,COUNTRY_LIVE_IN,FOOD_LOVED,EMAIL,HEIGHT,AGE
0,richard,singularity,united state,meat,richard@email.com,5.7,18
1,dahyun,kim,south korea,"milk,chocklet milk",dahyun@email.com,5.3,24
2,nayeon,,south korea,salmon sushi,nayeon@email.com,5.4,27
3,sana,minatozaki,japan,spicy food,sana@email.com,5.4,24
4,,,,,,,

# Rename or Updating Database Columns

In [11]:
df.rename(columns ={ 'TITLE_NAME' :'TITLE', 'FIRST_NAME': 'FIRST'} , inplace = True)
df

,FIRST,TITLE,COUNTRY_LIVE_IN,FOOD_LOVED,EMAIL,HEIGHT,AGE
0,richard,singularity,united state,meat,richard@email.com,5.7,18
1,dahyun,kim,south korea,"milk,chocklet milk",dahyun@email.com,5.3,24
2,nayeon,,south korea,salmon sushi,nayeon@email.com,5.4,27
3,sana,minatozaki,japan,spicy food,sana@email.com,5.4,24
4,,,,,,,

# Updating one singel index

In [12]:
df.loc[2,['HEIGHT','AGE']] = ['5.6','18']

In [13]:
df

,FIRST,TITLE,COUNTRY_LIVE_IN,FOOD_LOVED,EMAIL,HEIGHT,AGE
0,richard,singularity,united state,meat,richard@email.com,5.7,18
1,dahyun,kim,south korea,"milk,chocklet milk",dahyun@email.com,5.3,24
2,nayeon,,south korea,salmon sushi,nayeon@email.com,5.6,18
3,sana,minatozaki,japan,spicy food,sana@email.com,5.4,24
4,,,,,,,

# Updating index without spacifing

In [14]:
df.loc[4] = ['Jisoo','Kim','south korea','meat','jisoo@email.com','5.4','28']

In [15]:
df

,FIRST,TITLE,COUNTRY_LIVE_IN,FOOD_LOVED,EMAIL,HEIGHT,AGE
0,richard,singularity,united state,meat,richard@email.com,5.7,18
1,dahyun,kim,south korea,"milk,chocklet milk",dahyun@email.com,5.3,24
2,nayeon,,south korea,salmon sushi,nayeon@email.com,5.6,18
3,sana,minatozaki,japan,spicy food,sana@email.com,5.4,24
4,Jisoo,Kim,south korea,meat,jisoo@email.com,5.4,28

# find out information form a big database

In [16]:
fil = (df['EMAIL'] == 'jisoo@email.com')
df[fil]['AGE']

4    28
Name: AGE, dtype: object

# Change information form a big database

In [17]:
df.loc[fil,['FIRST']] = ['soyya jisoo']

In [18]:
df

,FIRST,TITLE,COUNTRY_LIVE_IN,FOOD_LOVED,EMAIL,HEIGHT,AGE
0,richard,singularity,united state,meat,richard@email.com,5.7,18
1,dahyun,kim,south korea,"milk,chocklet milk",dahyun@email.com,5.3,24
2,nayeon,,south korea,salmon sushi,nayeon@email.com,5.6,18
3,sana,minatozaki,japan,spicy food,sana@email.com,5.4,24
4,soyya jisoo,Kim,south korea,meat,jisoo@email.com,5.4,28

In [19]:
df

,FIRST,TITLE,COUNTRY_LIVE_IN,FOOD_LOVED,EMAIL,HEIGHT,AGE
0,richard,singularity,united state,meat,richard@email.com,5.7,18
1,dahyun,kim,south korea,"milk,chocklet milk",dahyun@email.com,5.3,24
2,nayeon,,south korea,salmon sushi,nayeon@email.com,5.6,18
3,sana,minatozaki,japan,spicy food,sana@email.com,5.4,24
4,soyya jisoo,Kim,south korea,meat,jisoo@email.com,5.4,28

In [20]:
df.loc[2,['FIRST']] = ['nayeon']

In [21]:
df

,FIRST,TITLE,COUNTRY_LIVE_IN,FOOD_LOVED,EMAIL,HEIGHT,AGE
0,richard,singularity,united state,meat,richard@email.com,5.7,18
1,dahyun,kim,south korea,"milk,chocklet milk",dahyun@email.com,5.3,24
2,nayeon,,south korea,salmon sushi,nayeon@email.com,5.6,18
3,sana,minatozaki,japan,spicy food,sana@email.com,5.4,24
4,soyya jisoo,Kim,south korea,meat,jisoo@email.com,5.4,28

# Convert lower case to upper case in ROW

In [22]:
df['EMAIL'] = df["EMAIL"].str.upper()

In [23]:
df

,FIRST,TITLE,COUNTRY_LIVE_IN,FOOD_LOVED,EMAIL,HEIGHT,AGE
0,richard,singularity,united state,meat,RICHARD@EMAIL.COM,5.7,18
1,dahyun,kim,south korea,"milk,chocklet milk",DAHYUN@EMAIL.COM,5.3,24
2,nayeon,,south korea,salmon sushi,NAYEON@EMAIL.COM,5.6,18
3,sana,minatozaki,japan,spicy food,SANA@EMAIL.COM,5.4,24
4,soyya jisoo,Kim,south korea,meat,JISOO@EMAIL.COM,5.4,28

In [24]:
df['EMAIL'].apply(len)

0    17
1    16
2    16
3    14
4    15
Name: EMAIL, dtype: int64

# Create a function

we can able to use any function in python

In [28]:
def update_email(EMAIL):
    return EMAIL.upper()

In [29]:
df['EMAIL']=df['EMAIL'].apply(update_email)

In [30]:
df

,FIRST,TITLE,COUNTRY_LIVE_IN,FOOD_LOVED,EMAIL,HEIGHT,AGE
0,richard,singularity,united state,meat,RICHARD@EMAIL.COM,5.7,18
1,dahyun,kim,south korea,"milk,chocklet milk",DAHYUN@EMAIL.COM,5.3,24
2,nayeon,,south korea,salmon sushi,NAYEON@EMAIL.COM,5.6,18
3,sana,minatozaki,japan,spicy food,SANA@EMAIL.COM,5.4,24
4,soyya jisoo,Kim,south korea,meat,JISOO@EMAIL.COM,5.4,28

In [32]:
df['COUNTRY_LIVE_IN'].apply(len)

0    12
1    11
2    11
3     5
4    11
Name: COUNTRY_LIVE_IN, dtype: int64

In [35]:
df['FIRST'].apply(len)

0     7
1     6
2     6
3     4
4    11
Name: FIRST, dtype: int64

# APPLEYMAP()
this fuction give you all the numerical lenth of correspoddin elements

In [36]:
df.applymap(len)

   FIRST  TITLE  COUNTRY_LIVE_IN  FOOD_LOVED  EMAIL  HEIGHT  AGE
0      7     11               12           4     17       3    2
1      6      3               11          18     16       3    2
2      6      0               11          12     16       3    2
3      4     10                5          10     14       3    2
4     11      3               11           4     15       3    2

In [37]:
df

,FIRST,TITLE,COUNTRY_LIVE_IN,FOOD_LOVED,EMAIL,HEIGHT,AGE
0,richard,singularity,united state,meat,RICHARD@EMAIL.COM,5.7,18
1,dahyun,kim,south korea,"milk,chocklet milk",DAHYUN@EMAIL.COM,5.3,24
2,nayeon,,south korea,salmon sushi,NAYEON@EMAIL.COM,5.6,18
3,sana,minatozaki,japan,spicy food,SANA@EMAIL.COM,5.4,24
4,soyya jisoo,Kim,south korea,meat,JISOO@EMAIL.COM,5.4,28

# df.applymap(str.upper)
BY THIS MATHOD WE CAN MODIFY OUR CORRESPODDIN ELEMENT IN DATAFRAME

In [39]:
df.applymap(str.upper)

,FIRST,TITLE,COUNTRY_LIVE_IN,FOOD_LOVED,EMAIL,HEIGHT,AGE
0,RICHARD,SINGULARITY,UNITED STATE,MEAT,RICHARD@EMAIL.COM,5.7,18
1,DAHYUN,KIM,SOUTH KOREA,"MILK,CHOCKLET MILK",DAHYUN@EMAIL.COM,5.3,24
2,NAYEON,,SOUTH KOREA,SALMON SUSHI,NAYEON@EMAIL.COM,5.6,18
3,SANA,MINATOZAKI,JAPAN,SPICY FOOD,SANA@EMAIL.COM,5.4,24
4,SOYYA JISOO,KIM,SOUTH KOREA,MEAT,JISOO@EMAIL.COM,5.4,28